<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>近年区块链研究热点调查</title>
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="./buefy.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
</head>

<body>
  <div id="app">
    <div class="container">

      <b-collapse class="card" v-model="isKeywordOpen" animation="slide">
        <template #trigger="props">
          <div class="card-header" role="button">
            <p class="card-header-title">
              Keywords
            </p>
            <a class="card-header-icon">
              <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
              </b-icon>
            </a>
          </div>
        </template>

        <div class="card-content">
          <div v-if="isKeywordOpen" class="buttons">
            <b-button v-for="word in words" :key="word.Word" type="is-light" size="is-small" @click="search(word.Word)">
              {{word.Word}}
              <b-tag type="is-light is-info">{{word.Count}}</b-tag>
            </b-button>
          </div>
        </div>
      </b-collapse>

      <b-field grouped group-multiline>
        <template v-for="column in columns">
          <template v-if="column.isSearchable">
            <template v-if="column.options">
              <b-select v-model="column.filter" size="is-small">
                <option value=""></option>
                <option v-for="option in column.options" :value="option.value">
                  {{ option.name }}
                </option>
              </b-select>
            </template>
            <template v-else>
              <b-input :placeholder="column.label" v-model="column.filter" size="is-small"
              icon-right="close-circle" icon-right-clickable @icon-right-click="column.filter = ''"></b-input>
            </template>
          </template>
        </template>

        <b-tag>{{filterPapers.length}}</b-tag>

        <b-select v-model="perPage" size="is-small">
          <option value="10">10 per page</option>
          <option value="20">20 per page</option>
          <option value="50">50 per page</option>
          <option value="90">90 per page</option>
        </b-select>
      </b-field>

      <b-table :data="filterPapers" :narrowed="true" :paginated="true" :per-page="perPage">
        <template v-for="column in columns">
          <b-table-column :key="column.id" v-bind="column">
            <template v-slot="props">
              <template v-if="column.field == 'title'">
                <span v-html="props.row['highlight']"></span>
                <b-tooltip :label="props.row['publisher']">
                  <b-tag type="is-light is-info">{{props.row['pub']}}</b-tag>
                </b-tooltip>
                <a :href="'https://dblp.uni-trier.de/search?q=' + props.row[column.field]" target="_blank">
                  <b-icon icon="select-search" size="is-small"></b-icon>
                </a>
                <a :href="props.row['doi']" target="_blank">
                  <b-icon icon="file-document-outline" size="is-small"></b-icon>
                </a>
              </template>
              <template v-else-if="column.field == 'category'">
                <template v-if="props.row[column.field] && ccfcats[props.row[column.field]-1]">
                  <b-tooltip :label="ccfcats[props.row[column.field]-1].title">
                    {{ ccfcats[props.row[column.field]-1].icon }}
                  </b-tooltip>
                </template>
              </template>
              <template v-else>
                {{ props.row[column.field] }}
              </template>
            </template>
          </b-table-column>

        </template>
      </b-table>
    </div>

  </div>
  <!-- <script src="vue.global.prod.js"></script> -->
  <!-- <script src="vue.global.js"></script> -->
  <script src="vue.js"></script>
  <script src="buefy.min.js"></script>
  <script src="papers.js"></script>
  <script src="ccfcats.js"></script>
  <script src="app.js"></script>
</body>

</html>